@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root{
    --color-white: #FFFFFF;
    --color-light-grey: #F5F3F4;
    --color-dark-grey: #B1A7A6;

    --color-red-1: #E5383B;
    --color-red-2: #BA181B;
    --color-red-3: #A4161A;
    --color-red-4: #660708;

    --color-pink-1: #EC99F0;
    --color-pink-2: #EF75A6;

    --color-black-1: #0B090A;
    --color-black-2: #161A1D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Julius Sans One', sans-serif;
}

html{
    background-color: var(--color-white);
}

.box{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0 auto;
    background-color: var(--color-light-grey);
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 10px;

    height: 150vh;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    position: sticky;
    top: 32px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw;
    margin: 0 auto;

    background-color: var(--color-light-grey);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-bottom: 20px;

}


@media screen and (max-width: 800px){
    nav{
      width: 100%;
    }

    .box{
        width: 100%;
    }
    .account-buttons{
        display: none !important;
    }

    .burgermenu.nav-container{
        display: flex !important;
    }
}

h1{
    font-size: xx-large;
    color: var(--color-black-1);
    text-align: center;
    strong{
        color: var(--color-red-1);
    }
}

h2{
    color: var(--color-black-1);
    text-align: center;
    strong{
        color: var(--color-red-1);
    }
}

.width-33{
    width: 33.33%;
}

.account-buttons{
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.logoimg{
    position: relative;
    width: 100px;
    height: 100px;
    left: 10px;
    display: block;
}

.loginbody {
    font-family: Arial, sans-serif;
    background-color: var(--color-light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.login-container h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--color-red-2);
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="email"] {
    width: 80%;
    padding: 10px 10px 10px 19px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 50px;
    border: 1px solid var(--color-dark-grey);
}

.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus,
.login-container input[type="email"]:focus {
    outline: none;
    border: 2px solid var(--color-red-2);
}


.login-container input[type="submit"] {
    background-color: var(--color-red-2);
    color: var(--color-white);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-container input[type="submit"]:hover {
    background-color: var(--color-red-3);
}

.login-container .signupbutton{
    font-size: smaller;
}

.loginbutton{
    background-color: var(--color-pink-2);
    color: var(--color-white);
    padding: 10px 13px 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 10px;
}

.loginbutton:hover{
    background-color: var(--color-pink-1);
    color: var(--color-white);
}

.signupbutton{
    background-color: var(--color-red-2);
    color: var(--color-white);
    padding: 10px 13px 10px 15px;
    text-decoration: none;
    border-radius: 50px;
}

.signupbutton:hover{
    background-color: var(--color-red-4);
}

.burgermenu {
    width: 33%;
    margin: auto;
  }
  
  .nav-container {
    justify-content: flex-end;
    align-items: center;
  }

  .burgermenu.nav-container{
    display: none;
  }
  
  .menu-items {
    display: flex;
  }
  
  .nav-container li {
    list-style: none;
  }
  
  .nav-container a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .menu-items {
    position: fixed;
    padding-top: 20vh;
    background-color: var(--color-light-grey);
    height: 100vh;
    width: 100vw;
    top:0;
    left: 0;
    transform: translate(-100vw);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: transform 0.5s ease-in-out;
  }
  
  .menu-items li {
    margin-bottom: 2.2rem;
  }

  .menu-items li {
    .loginbutton{
        margin-right:auto;
    }
    .signupbutton{
        margin-left:auto;
    }
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translate(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .box-1{
    background-color: var(--color-pink-2);
    width: 98%;
    border-radius: 5px;
  }

  .centerbox {
    position: fixed;
    background-color: var(--color-light-grey);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }