:root {
    --black: #343434;
    --gold: #E6B31E;
    --goldshadow: #e6b41e38;
    --white: #FCFAF1;
    --whitealt: #f5f1db;
    --grey: #CACACA;
}

html {
    /*padding: 0 0.5vw 0 0.5vw;*/
    background-color: var(--black);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    box-sizing: border-box;
    height: 1500px;
    border-radius: 0px;
    box-shadow: 0 0px 1px 0 var(--gold), 0 0px 1px 0 var(--white);
    transition: box-shadow .7s ease;
    background-color: var(--white);
    border: 1px solid var(--gold);
}

.headerimg{
    width: 100%;
    object-fit: cover;
}

.banner {
    color: var(--white);
    letter-spacing: 3px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

body:hover {
    box-shadow: 0 0px 20px 0px var(--goldshadow), 0 0px 4px 0 var(--white);
}

.signupform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boxsignup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.signupform .inputlogin {
    border-top: none;
    border-right: none;
    border-bottom: solid var(--black);
    border-left: none;
    background: transparent;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
}

.signupform .inputbutton {
    align-items: center;
    appearance: none;
    background-color: var(--black);
    border-width: 120%;
    box-shadow: var(--goldshadow) 0 2px 4px, var(--goldshadow) 0 7px 13px -3px, var(--black) 0 -3px 0 inset;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    display: inline-flex;
    height: 36px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 15px;
    margin-top: 10px;
}

.signupform .inputbutton:focus {
    box-shadow: var(--black) 0 0 0 1.5px inset, var(--goldshadow) 0 2px 4px, var(--black) 0 7px 13px -3px, var(--grey) 0 -3px 0 inset;
}

.signupform .inputbutton:hover {
    box-shadow: var(--goldshadow) 0 4px 8px, var(--goldshadow) 0 7px 13px -3px, var(--black) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.signupform .inputbutton:active {
    box-shadow: var(--black) 0 3px 7px inset;
    transform: translateY(2px);
}
